{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cppindex</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Banner-Heading-Image-images.css' %}">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">Welcome to DElish Clinic</h2>
                            <p class="mb-4">Looking out for you at every turn. Your health is our top priority, and we're here to deliver skilled, committed, and compassionate treatment.</p>
                            <div class="my-3">
                                <a class="btn btn-primary btn-lg me-2" role="button" href="{% url 'user_firstpage' %}">User</a>
                                <a class="btn btn-light btn-lg" role="button" href="{% url 'admin_login' %}">Admin</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                       <img class="w-100 h-100 fit-cover" src="https://x23241535ann.s3.amazonaws.com/clinic_website_photo.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
